.backgroundCf{
	background-color: #303030;
	border-radius: 1.38vh;
	width: 19.53vw;
}

.flex1Cf{
	display: flex;
	flex-direction: row;
}

.flex2Cf{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.categoryHead{
	color:white;
	font-family: 'BananaGrotesk-Light';
	font-size: 1.67vh;
	line-height: 1.85vh;
}

.iconTextCf{
	color:white;
	font-family: 'BananaGrotesk-Medium';
	font-size: 1.67vh;
	line-height: 2.03vh;
}

.footerCf{
	color:white;
	font-family: 'BananaGrotesk-Bold';
	font-size: 1.48vh;
	line-height: 1.67vh;		
}

.boxCf{
	background-color: white;
	height:1.85vh;
	width: 1.85vh;
	border-radius: 0.37vh;
	cursor: pointer;
}

.checkImgCf{

	height: 1.01vh;
}
.crossImgCf{
	height: 2.5vh;
}

.iconWorldCf{
	height: 1.94vh;	
}