html, body {
  margin: 0;
  padding: 0;
} 

.web {
	display: block;
}

.mob {
	display: none;
}

input:focus {
    outline:none !important;
}

button:focus {
    outline:none !important;
}

button{
  border-style: none;
}

@media screen and (max-width: 720px) {
  	.web {
		display: none;
   	}

	.mob {
		display: block;
	}
}