@font-face {
  font-family: 'BananaGrotesk-Medium';
  src: local('BananaGrotesk-Medium'), url('../../Fonts/BananaGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'BananaGrotesk-Light';
  src: local('BananaGrotesk-Light'), url('../../Fonts/BananaGrotesk-Light.otf') format('opentype');
}

@font-face {
  font-family: 'BananaGrotesk-Bold';
  src: local('BananaGrotesk-Bold'),
    url('../../Fonts/BananaGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'BananaGrotesk-Regular';
  src: local('BananaGrotesk-Regular'), url('../../Fonts/BananaGrotesk-Regular.otf') format('opentype');
}

